
<!DOCTYPE >
<html ng-app="SearchGateway" ng-controller="SearchController">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script
	src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>

<script src="./node_modules/angular-material/angular-material.min.js"></script>
<script src="./node_modules/angular-animate/angular-animate.js"></script>
<script src="./node_modules/angular-aria/angular-aria.js"></script>
<script
	src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.16/textAngular.min.js"></script>
<script
	src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
<script src="./js/application.js?v=71"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="./node_modules/angular-material/angular-material.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href='https://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet'>
<link rel="stylesheet" href="./css/application.css?v=6786">
<link rel="stylesheet" href="./css/sassypam.css?v=6786">
<link rel="stylesheet" href="./css/ui2.css?v=6786">
<link href="{{ favicon }}" rel="icon" type="image/x-icon" />

<style>
md-toolbar.md-medium-tall {
    height: 68px;
    min-height: 68px;
}

.input-group .form-control:first-child {
    width: 30%;
    float: right;
}
.search-bar {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 2px;

}
</style>

<title>NBCU Collibra Search App</title>
</head>
<body data-ng-init="init();ownerCount = 0;stewardCount= 0;"
	class="app-theme"
	ng-class="transparent === true ? 'app-theme-overflow2': 'app-theme-overflow1'"
	ng-cloak>

	<div ng-show="loadingApp">
		<div class="loadingApp1">
			<div class="load-app">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="font-size: 48px"></i>
			</div>
		</div>
	</div>
	<div ng-hide="loadingApp">
		<div>
			<form>
				<div ng-if="showSearchFromUrl == 'true'">
					<md-toolbar class="main-toolbar md-medium-tall"
						style="background-color:transparent;">
					<div class="search-bar width-100 cf flex-center pal">
						<div class="logos">
							<img src="{{ logo }}" width="35px" align="left">
						</div>

						<div class="search-bar">
							<div class="input-group stylish-input-group">
										<input type="text" placeholder="Search " class="form-control"
											id="searchTerm" ng-model="searchForm.term" width="100%"> <span
											class="input-group-addon">
											<button type="submit" id="bth-search" class="searchButton"
												ng-click="searchTerm()">
												<span class="glyphicon glyphicon-search"></span>
											</button>
											
											<button type="submit" id="bth-search" class="searchButton"
												ng-click="clearSearchAndReoload()">
												<span class="fa fa-times closeIcon"></span>
											</button> 											
											<!-- <i
									class="fa fa-times closeIcon" aria-hidden="true"
									ng-click="clearSearchAndReoload()" role="button"></i> -->
									
										</span>
									</div>
						</div>

						
					</div>
					</md-toolbar>
				</div>


				<md-toolbar style="background-color:transparent;"> <md-tabs
					md-stretch-tabs="no" class="md-primary md-hue-1" md-selected="0"
					md-swipe-content md-dynamic-height> </md-tabs> </md-toolbar>

				<div layout="column" layout-margin style="padding: 20px;" ng-cloak>
					<p>
						<b><font size="3"> NBCUniversal is primarily involved
								in the media and entertainment industries; among its most
								significant divisions are NBC, one of the United States' "Big
								Three" television networks, and the major film studio Universal
								Studios. It has a significant presence in broadcasting through a
								portfolio of domestic and international properties, including
								terrestrial and pay television outlets.</font></b>
					</p>
				</div>
				<br>
				<md-content flex layout-padding style="height:180px;" ng-cloak>
				<section>
					<md-list layout="column" > <md-list-item>
					<i ng-class="styleFunction('0')" style="padding: 10px;font-size: 50px"></i>
					
					<div layout-margin style="padding: 35px;" ng-cloak>
						<h2>
							<a href="/Glossary/SearchAssets.html?term=&showSearch=true&app=GlossaryApp">
							<font size="6" color="black"><b>Business Glossary</b></font>
							</a>
						</h2>
						<h4>
							<font size="2"><b>A word or phase that is used to
									describe or to express a concept in a particular kind of
									language or branch of business. Examples:Customer, Person
									Purchase Count, Loan Amount.</b></font>
						</h4>
					</div>
					</md-list-item> </md-list>
				</section>

				<section>
					<md-list layout="column"> <md-list-item>
					<i ng-class="styleFunction('1')" style="padding: 10px;font-size: 50px"></i>
					<div layout-margin style="padding: 35px;" ng-cloak>
						<h2>
							<a href="/Glossary/SearchAssets.html?term=&showSearch=true&app=DataSetsApp">
							<font size="6" color="black"><b>Data Sets</b></font></a>
						</h2>
						<h4>
							<font size="2"><b>A collection of related sets of Data
									Assets that are Data Elements or composed of Data
									Elements.Example: Customer contact information.</b></font>
						</h4>
					</div>
					</md-list-item> </md-list>
				</section>
				</md-content>
				
				<md-content flex layout-padding style="height:180px;" ng-cloak>
				<section>
					<md-list layout="column"> <md-list-item>
					<i ng-class="styleFunction('2')" style="padding: 10px;font-size: 50px"></i>
					<div layout-margin style="padding: 35px;" ng-cloak>
						<h2>
							<a href="/Glossary/SearchAssets.html?term=&showSearch=true&app=ReportsApp">
							<font size="6" color="black"><b>Report</b></font></a>
						</h2>
						<h4>
							<font size="2"><b></>A document containing information
									that is organized in a narrative, graphic, or turbular form.
									Examples:Monthly Financial Statement,Quarterly Marketing
									Expense Report.</b></font>
						</h4>
					</div>
					</md-list-item> </md-list>
				</section>

				<section>
					<md-list layout="column"> <md-list-item>
					<i class="fa fa-code" style="padding: 10px;font-size: 50px"></i>
					<div layout-margin style="padding: 35px;" ng-cloak>
						<h2>
							<font size="6" color="black"><b>API</b></font>
						</h2>
						<h4>
							<font size="2"><b>An Application programming interface
									is a set of subroutine definitions, protocols, and tools for
									building application software.</b></font>
						</h4>
					</div>
					</md-list-item> </md-list>
				</section>

				</md-content>

			</form>
		</div>
	</div>
</body>
</html>